[submodule "Ignite"]
	path = .build/checkouts/Ignite
	url = https://github.com/twostraws/Ignite
[submodule "swift-argument-parser"]
	path = .build/checkouts/swift-argument-parser
	url = https://github.com/apple/swift-argument-parser
[submodule "swift-cmark"]
	path = .build/checkouts/swift-cmark
	url = https://github.com/swiftlang/swift-cmark
[submodule "swift-markdown"]
	path = .build/checkouts/swift-markdown
	url = https://github.com/swiftlang/swift-markdown
